:root {
    --transition: all .4s;
}

.body {
    font-family: "Monument Extended", "Arial", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    ;
    background: #ffffff;
    font-family: 'Monument Extended';
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.container {
    max-width: 1738px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 196px;
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    transition: var(--transition);
}

.button:hover {
    color: #000000;
    border: 1.5px solid #000000;
}

.main {
    flex-grow: 1;
}

.main__gallery {
    margin-bottom: 225px;
}

.main__brand {
    margin-bottom: 167px;
}

.main__nike {
    padding-bottom: 87px;
}

.main__catalog {
    padding-bottom: 398px;
}

/* ========================================================================== */




.header__top {
    padding: 29px 0 29px;
}

.header__top-inner {
    display: flex;
}

.nav__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav__item {
    font-size: 12.91px;
    line-height: 27.52px;
    letter-spacing: 0.86px;
    transition: var(--transition);
}

.nav__item:hover {
    font-weight: 800;
}

.nav__link {
    display: block;
    padding: 5px 0;
}

.nav__search {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 12.91px;
    line-height: 27.52px;
    text-transform: uppercase;
}

.nav__link-search {
    display: flex;
}

.nav__item-img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 111111111111;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #000000;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ===============================Hero============================== */

.header__hero {
    background: linear-gradient(209.25deg, rgb(222, 52, 61) 15.025%, rgb(255, 184, 0) 86.546%) 50% 100% / cover no-repeat;
    margin-bottom: 89px;
}

.hero__inner {
    display: flex;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero__bg {
    display: flex;
    position: relative;
}

.hero__text-bg {
    color: rgba(255, 255, 255, 0.14);
    font-size: 382px;
    font-weight: 400;
    line-height: 459px;
    text-align: left;

    position: absolute;
    width: 100%;
    height: auto;
    right: 1000px;
    top: 300px;
}

.hero__frame-bg svg {
    position: absolute;
    width: 538.51px;
    height: 519.08px;
    left: -461.06px;
    top: 39.62px;
}

.hero__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__img img {
    z-index: 1;
    width: 100%;
}

.hero__btn {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 100px;
    padding-bottom: 78.5px;
}


/* =================================GALLERY====================================== */

.gallery__inner {
    padding-bottom: 30px;
    position: relative;
}

.gallery__content {
    width: 100%;
    display: flex;
}

.gallery__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery__title {
    color: #de343d;
    font-size: 37.72px;
    line-height: 40.2px;
}

.gallery__filters {
    width: 100%;
    max-width: 507px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.gallery__filters-item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 159px;
    width: 100%;
    height: 51px;
    color: #808080;
    margin-right: 30px;
    border: 1.26px solid #dedede;
    transition: var(--transition);
}

.gallery__filters-item1 path {
    transition: var(--transition);
}

.gallery__filters-item1 svg {
    margin-right: 9px;
}

.gallery__filters-item1:hover path {
    fill: #000000;
}

.gallery__filters-item1:hover {
    color: #000000;
    border: 1.26px solid #000000;
}

.gallery__filters-item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 159px;
    width: 100%;
    height: 51px;
    color: #808080;
    margin-right: 30px;
    border: 1.26px solid #dedede;
    transition: var(--transition);
}

.gallery__filters-item2 path {
    transition: var(--transition);
}

.gallery__filters-item2 svg {
    margin-right: 5px;
}

.gallery__filters-item2:hover path {
    fill: #000000;
}

.gallery__filters-item2:hover {
    color: #000000;
    border: 1.26px solid #000000;
}


.gallery__filters-item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 57.5px;
    height: 51px;
    color: #808080;
    border: 1.26px solid #dedede;
    transition: var(--transition);
}

.gallery__filters-item3 path {
    transition: var(--transition);
}

.gallery__filters-item3:hover path {
    fill: #000000;
}

.gallery__filters-item3:hover {
    border: 1.26px solid #000000;
}


.gallery__filters-item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 57.5px;
    height: 51px;
    border: 1.26px solid #dedede;
    transition: var(--transition);
}

.gallery__filters-item4 path {
    transition: var(--transition);
}

.gallery__filters-item4:hover path {
    fill: #000000;
}

.gallery__filters-item4:hover {
    border: 1.26px solid #000000;
}


.gallery__prev {
    position: absolute;
    top: 288px;
    left: -28px;
    z-index: 20;
    background: none;
}

.gallery__next {
    position: absolute;
    top: 288px;
    right: -28px;
    z-index: 20;
    background: none;
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    color: #808080;
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #808080;
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}

.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #808080;
}

.gallery__prev path,
.gallery__next path {
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    fill: #000000;
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: #000;
}

.gallery__wrapper {
    display: flex;
    justify-content: start;

    padding-bottom: 70px;
}


.gallery__element-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 402px;
    height: 377px;
    padding-bottom: 15px;
}

.gallery__element-info {
    width: 402px;
    height: 140px;
}

.gallery__element-name {
    color: #9c9c9c;
    font-size: 22.01px;
    padding-bottom: 6px;
}

.gallery__element-name:hover {
    color: #de343d;
    font-size: 22.01px;
    padding-bottom: 6px;
}

.gallery__element-price {
    font-size: 25.15px;
}

.gallery__element-price span {
    font-size: 20.5px;
    padding-bottom: 6px;
}

.gallery__element-size {
    color: #de343d;
    font-size: 18.86px;
}

.gallery__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__button {
    color: #808080;
    border: 1.5px solid #808080;
}


/* ==============================BRAND====================== */

.brand__inner {
    padding-bottom: 92px;
}

.brand__title {
    color: #000000;
    font-size: 105.14px;
    text-align: center;

}

.span_black1 {
    display: inline-block;
    background: #000;
    width: 198px;
    height: 89px;
    border-radius: 42px;
    position: relative;
}

.span_black1::before {
    content: url("../img/content/adidas-brand.png");
    position: absolute;
    top: -164px;
    left: -93px;
    z-index: 1000;
}

.span__yellow {
    display: inline-block;
    background: #ffb800;
    width: 250px;
    height: 89px;
    border-radius: 42px;
    position: relative;
}

.span__yellow::before {
    content: url("../img/content/brand-orange.png");
    position: absolute;
    top: -197px;
    left: 18px;
}

.span__black1 {
    display: inline-block;
    background: #000;
    width: 179px;
    height: 89px;
    border-radius: 42px;
    position: relative;
}

.span__black1::before {
    content: url("../img/content/brand-orng-white.png");
    position: absolute;
    top: -55px;
    left: -78px;
}


.brand__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.brand__img {
    width: 100%;
}

/* ================== Nike =================== */

.nike__block {
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.nike__block img {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -39px;
    animation: moveText 10s linear infinite;
}


.nike__block img:nth-child(2) {
    left: 100%;
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.nike__hero {
    background: url("../img/content/models.png") 50% 40% / cover no-repeat;
    height: 877px;
}

.nike__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nike__bg {
    display: flex;
    position: relative;
}

.nike__text-bg {
    color: rgba(255, 255, 255, 0.14);
    font-size: 382px;
    line-height: 459px;

    position: absolute;
    width: 100%;
    height: auto;
    right: 1000px;
    top: 190px;
}

.nike__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}

/* ================================================================== */

.catalog__inner {
    padding-bottom: 30px;
    position: relative;
}

.catalog__content {
    width: 100%;
    display: flex;
}

.catalog__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog__title {
    color: #de343d;
    font-size: 37.72px;
    line-height: 40.2px;
}

.catalog__filters {
    width: 100%;
    max-width: 507px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==================================== */

.container__drop {
    position: relative;
    display: inline-block;
    padding-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    max-width: 126px;
    border: 1px solid #000000;
    z-index: 1;
}

.show {
    display: flex;
}

.dropdown-content input {
    max-width: 159px;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-content ul {
    list-style-type: none;
    padding-left: 10px;
}

.dropdown-content li {
    padding-top: 10px;
    padding-bottom: 20px;
    transition: var(--transition);
}

.button__drop {
    background: #fff;
    text-align: start;
}

.button__drop:hover {
    color: #de343d;
}

/* ======================================= */

.catalog__filters-item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 159px;
    width: 100%;
    height: 51px;
    background: #ffffff;
    color: #808080;
    margin-right: 30px;
    border: 1.26px solid #dedede;
    transition: var(--transition);
}

.catalog__filters-item1 path {
    transition: var(--transition);
}

.catalog__filters-item1 svg {
    margin-right: 9px;
}

.catalog__filters-item1:hover path {
    fill: #000000;
}

.catalog__filters-item1:hover {
    color: #000000;
    border: 1.26px solid #000000;
}

.catalog__filters-item1.active path {
    fill: #000000;
}

.catalog__filters-item1.active {
    color: #000000;
    border: 1.26px solid #000000;
}


.catalog__nike,
.catalog__adidas,
.catalog__new-balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-bottom: 35px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.catalog__nike.active,
.catalog__adidas.active,
.catalog__new-balance.active {
    opacity: 1;
    max-height: 100%;
}

.catalog__filters-item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 159px;
    width: 100%;
    height: 51px;
    color: #808080;
    margin-right: 30px;
    border: 1.26px solid #dedede;
    transition: var(--transition);
}

.catalog__filters-item2 path {
    transition: var(--transition);
}

.catalog__filters-item2 svg {
    margin-right: 5px;
}

.catalog__filters-item2:hover path {
    fill: #000000;
}

.catalog__filters-item2:hover {
    color: #000000;
    border: 1.26px solid #000000;
}


.catalog__filters-item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 57.5px;
    height: 51px;
    color: #808080;
    border: 1.26px solid #dedede;
    transition: var(--transition);
}

.catalog__filters-item3 path {
    transition: var(--transition);
}

.catalog__filters-item3:hover path {
    fill: #000000;
}

.catalog__filters-item3:hover {
    border: 1.26px solid #000000;
}


.catalog__filters-item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 57.5px;
    height: 51px;
    border: 1.26px solid #dedede;
    transition: var(--transition);
}

.catalog__filters-item4 path {
    transition: var(--transition);
}

.catalog__filters-item4:hover path {
    fill: #000000;
}

.catalog__filters-item4:hover {
    border: 1.26px solid #000000;
}

.catalog__element-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 402px;
    height: 377px;
    padding-bottom: 15px;
}

.catalog__element-info {
    width: 402px;
    height: 140px;
}

.catalog__element-name {
    color: #9c9c9c;
    font-size: 22.01px;
    padding-bottom: 6px;
}

.catalog__element-name:hover {
    color: #de343d;
    font-size: 22.01px;
    padding-bottom: 6px;
}

.catalog__element-price {
    font-size: 25.15px;
}

.catalog__element-price span {
    font-size: 20.5px;
    padding-bottom: 6px;
}

.catalog__element-size {
    color: #de343d;
    font-size: 18.86px;
}

.catalog__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog__button {
    color: #808080;
    border: 1.5px solid #808080;
}

/* ============================================================== */

.footer {
    padding: 60px 0 66px;
}

.footer__inner {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 100px;
}

.footer__col-item {
    color: #de343d;
    font-size: 18px;
    line-height: 124.5%;
    margin-bottom: 17px;
}

.footer__col-item:last-child {
    margin-bottom: 0px;
}

.footer__col-title {
    color: #de343d;
    font-size: 21px;
    font-weight: 800;
    line-height: 124.5%;
    margin-bottom: 47.5px;
}



/* ========================================================== */
/* ========================================================== */
/* ========================================================== */

@media (max-width: 1200px) {
    .brand__title {
        font-size: 87.14px;
    }

    .span_black1 {
        display: none;
    }

    .span__yellow {
        display: none;
    }

    .span__black1 {
        display: none;
    }

    /* ============================== */

    .nike__text-bg {
        font-size: 285px;
        right: 763px;
        top: 178px;
    }

    /* ====================================== */
    .catalog__nike, .catalog__adidas, .catalog__new-balance {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding-bottom: 3px;
    }
}

@media (max-width: 1100px) {
    .brand__list {
        gap: 70px;
    }

    .main__catalog {
        padding-bottom: 250px;
    }
}

@media (max-width: 900px) {

    .hero__btn {
        justify-content: center;
        padding-right: 0px;
    }

    .header__top-inner {
        display: flex;
        justify-content: space-between;
    }

    .nav__block {
        width: 0;
    }


    .nav {
        position: fixed;
        inset: 0;
        z-index: 10000000;
        background: #dad3d3;
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ==================================================== */

    .gallery__info {
        justify-content: center;
    }

    /* ======================================== */

    .main__gallery {
        margin-bottom: 141px;
    }

    /* ================================= */
    .brand__list {
        gap: 10px;
    }

    .brand__inner {
        padding-bottom: 65px;
    }

    .brand__title {
        font-size: 63.14px;
    }

    .catalog__nike, .catalog__adidas, .catalog__new-balance {
        grid-template-columns: 1fr;
        justify-content: center;
        padding-bottom: 3px;
    }
}

@media (max-width: 800px) {
    .main__gallery {
        margin-bottom: 100px;
    }

    .hero__text-bg {
        font-size: 205px;
        right: 600px;
        top: 150px;
    }

    .hero__frame-bg {
        display: none;
    }

    /* ===================================== */
    .gallery__next {
        top: 62px;
        right: -9px;
    }

    .gallery__prev {
        top: 62px;
        right: -411px;
    }

    .brand__title {
        font-size: 46px;
    }

    .nike__text-bg {
        font-size: 230px;
        right: 652px;
        top: 178px;
    }

    /* ==================================== */
    .catalog__title {
        font-size: 26.72px;
    }

    .catalog__filters-item2 {
        display: none;
    }

    .catalog__filters-item3 {
        display: none;
    }

    .catalog__filters-item4 {
        display: none;
    }

    .catalog__filters {
        justify-content: end;
    }

    .container__drop {
        padding-right: 0px;
    }
}

@media (max-width: 650px) {
    .footer__inner {
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    .gallery__next {
        top: 62px;
        right: -9px;
    }

    .gallery__prev {
        top: 62px;
        right: -219px;
    }

    /* ====================== */
    .brand__title {
        font-size: 30px;
    }

}

@media (max-width: 450px) {
    .gallery__element-info {
        padding-left: 100px;
    }

    .catalog__btn {
        padding-top: 26px;
    }
}